/* Content */
/* using a class as the map canvas doesn't work
all of the google examples have map canvas using
an id */
html,
body,
#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

.wrapper {
    height: 100%;
    position: relative;
}

/*.form-ui {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 99; 
}*/

.search {
  z-index: 100;
  position: fixed;
  left: 25px;
  top: 25px;
  height: 35px;
  width: 350px;
}

.search-bar {
  position: absolute;
  left: 0;
  height: 100%;
  width: 80%;
  font-size: 16px;
  padding: 5px 5px 5px 10px;
  border-radius: 5px 0 0 5px;
  outline: 0;
  border: 1px solid #4D91DA;
  font-weight: 200;
}

.search-bar:focus {
  border-top: 3px solid #1c5380;
  border-bottom: 3px solid #1c5380;
  border-left: 3px solid #1c5380;
}

.search-bar[placeholder] {
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-button {
  background: #4D91DA;
  height: 100%;
  position: absolute;
  border: 0;
  right: 0;
  width: 20%;
  outline: 0;
  border-radius: 0 5px 5px 0;
}

.search-button:hover,
.list-toggle:hover {
  background: #0062ff;
}

.filtered-places {
  z-index: 100;
  position: fixed;
  left: 75px;
  top: 60px;
  background: none;
  height: auto;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 300px;
  height: 90%;
  transition: 0.2s;
}

.list-toggle {
  position: fixed;
  top: 60px;
  left: 25px;
  width: 50px;
  height: 50px;
  border: 0;
  outline: 0;
  background: #4D91DA;
  transition: 0.2s;
  z-index: 200;
  border-radius: 5px;

}

.place {
  padding: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  border: 1px solid #ddd;
  background: white;
  width: 300px;
  float: right;
  transition: 0.5s;
}

.place:hover {
  background: #4595d6;
}

.streetViewImage{
  height: 150px;
  width: auto;
}

.nav-toggle{
  font-size: 2.4em;
  font-weight: bold;
  padding: auto;
  margin: auto;
  color: black;
}

.list-name{
  font-size: 1.2em;
  font-weight: bold;
}

.address{
  font-size: 0.8em;
}
